[Desktop Entry]
Comment=
Exec=ksnapshot
Icon=ksnapshot
GenericName=Take a screen-shot
GenericName[he]=צילום תמונת מסך
Name=KSnapShot
Name[he]=KSnapShot
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
