[Desktop Entry]
Comment=
Exec=sudo /etc/init.d/mysql start
Icon=start
Name=Start
Name[he]=הפעל
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
