[Desktop Entry]
Comment=
Exec=kalarm
Icon=kalarm
Name=KAlarm
GenericName[he]=שעון מעורר
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
