[Desktop Entry]
Comment=
Exec=kasteroids
Icon=kasteroids
Name=KAsteroids
Name[he]=מתקפת אסטרואידים
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
