[Desktop Entry]
Comment=
Exec=pingus
Icon=tux
Name=Pingus
Name[he]=פינגוס
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
