[Desktop Entry]
Comment=
Exec=/usr/games/powermanga
Icon=nfs_unmount
Name=Power Manga
Name[he]=כח המנגה
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
