[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmkmrml
Icon=kmrml
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=kmrml

Name=Image Index
Name[bs]=Indeks slika
Name[ca]=Índex d'imatge
Name[cs]=Rejstřík obrázků
Name[da]=Billedindeks
Name[de]=Bildindex
Name[el]=Ευρετήριο εικόνων
Name[es]=Índice de imágenes
Name[et]=Pildiindeks
Name[fi]=Kuvahakemisto
Name[fr]=Index des images
Name[he]=אינדקס תמונות
Name[hu]=Képindexelő
Name[it]=Indice di immagini
Name[ja]=画像インデックス
Name[lt]=Paveikslėlių rodyklė
Name[nb]=Bildeindeks
Name[nl]=Afbeeldingenindex
Name[nn]=Biletindeks
Name[nso]=Palo ya Ponagalo
Name[pl]=Indeks obrazów
Name[pt]=Índice de Imagens
Name[pt_BR]=Índice de Imagens
Name[ru]=Индексирование изображений
Name[sk]=Katalóg obrázkov
Name[sl]=Seznam slik
Name[sv]=Bildindex
Name[tr]=Resim İndeksi
Name[uk]=Індекс зображень
Name[ven]=Index ya tshifanyiso
Name[xh]=Isalathisi Somfanekiso
Name[zh_CN]=图像索引
Name[zh_TW]=影像索引
Name[zu]=Isiqalo Sesithombe

Comment=Configuration for using the GNU Image Finding Tool
Comment[bs]=Podešavanje za upotrebu GNU Alata za pronalaženje slika
Comment[ca]=Configuració per a l'ús de l'eina de cerca d'imatges GNU
Comment[cs]=Konfigurace používání nástroje GNU Image Finding Tool
Comment[da]=Indstilling for brug af GNU Image Finding Tool
Comment[de]=Konfiguration für die Benutzung des GNU Bildersuchwerkzeugs (GNU Image Finding Tool)
Comment[el]=Ρύθμιση για τη χρήση του εργαλείου εύρεσης εικόνων GIFT
Comment[es]=Configuración para utilizar la herramienta de búsqueda de imágenes de GNU
Comment[et]=Seadistused GNU pildileidmisrakenduse kasutamiseks
Comment[fi]=Asetukset GNU Image Finding Tool ohjelman käyttöä varten
Comment[fr]=Configuration pour l'utilisation du GNU Image Finding Tool
Comment[he]=שינוי הגדרות כלי חיפוש התמונות של GNU
Comment[hu]=A GNU képkereső program beállításai
Comment[it]=Configurazione dello strumento per la ricerca delle immagini
Comment[ja]=GNU Image Finding Toolを使用する際の設定
Comment[lt]=GNU paveikslėlių paieškos įrankio konfigūracija
Comment[nb]=Konfigurasjon av GNU bildesøkingsverktøy
Comment[nl]=Configuratie voor het gebruik van de GNU Image Finding Tool
Comment[nn]=Oppsett av GNU Image Finding Tool
Comment[pl]=Konfiguracja Gifta (narzędzia do szukania obrazów GNU)
Comment[pt]=Configuração da Ferramenta de Procura de Imagens da GNU
Comment[pt_BR]=Configuração para o uso da Ferramenta de Procura de Imagens GNU
Comment[ru]=Настройка использования программы поиска изображений GNU Image Finding Tool
Comment[sk]=Konfigurácia pre GNU Image Finding Tool
Comment[sl]=Nastavitve za uporabo orodja GNU za iskanje slik
Comment[sv]=Inställning för att använda GNU:s bildsökverktyg
Comment[tr]=GNU Resim Bulma Aracı yapılandırması
Comment[uk]=Налаштування засобу пошуку зображень GNU
Comment[ven]=Nzudzanyo yau shumisa tshishumiswa tshau toda tshifanyiso tsha GNU
Comment[xh]=Uqwalaselo lokusebenzisa Isixhobo Sokufumana Umfanekiso we GNU
Comment[zh_CN]=使用 GNU 图像查找工具的配置
Comment[zh_TW]= GNU 影像搜尋工具組態
Comment[zu]=Inhlanganiselo yokusebenzisa Ithuluzi Lokuthola Isithombe se-GNU

Keywords=Images,Search,Query,Find,Gift,kmrml,mrml,CBIR
Keywords[bs]=Images,Search,Query,Find,Gift,kmrml,mrml,CBIR,slike,pretraga,upit,nađi
Keywords[ca]=Imatges,Cerca,Consulta,Busca,Gift,kmrml,mrml,CBIR
Keywords[cs]=Obrázky,Hledat,Dotaz,Najít,Gift,kmrml,mrml,CBIR
Keywords[da]=Billeder,Søgning,Forespørgsel,Find,Gave,kmrml,mrml,CBIR
Keywords[de]=Bilder,Suche,Anfrage,finden,Geschenk,kmrml,mrml,CBIR
Keywords[el]=Εικόνες,Αναζήτηση,Ερώτηση,Εύρεση,Gift,kmrml,mrml,CBIR
Keywords[es]=Imágenes,Búsqueda,Consulta,Buscar,Gift,kmrml,mrml,CBIR
Keywords[et]=pildid,otsing,päring,leia,Gift,kmrml,mrml,CBIR
Keywords[fi]=Kuvat,Haku,Etsi,Lahja,kmrml,mrml,CBIR
Keywords[fr]=Images,Recherche,Requête,Chercher,Gift,kmrml,mrml,CBIR
Keywords[he]=תמונות,חיפוש,שאילתה,Gift,kmrml,mrml,CBIR
Keywords[hu]=képek,keresés,lekérdezés,találat,Gift,kmrml,mrml,CBIR
Keywords[it]=Immagini,Ricerca,Trovare,Gift,kmrml,mrml,CBIR
Keywords[ja]=画像,検索,クエリ,検索,Gift,kmrml,mrml,CBIR
Keywords[lt]=Images,Search,Query,Find,Gift,kmrml,mrml,CBIR, paveikslėliai,paieška,paklausimas
Keywords[nb]=Bilder,Søk,Spørringer,Finn,gave,kmrml,mrml,CBIR
Keywords[nl]=illustraties,figuren,figuur,afbeeldingen,plaatjes,zoeken,find,gift,kmrml,mrml,CBIR,images
Keywords[nn]=bilete,søk,spørjing,finn,gåve,kmrml,mrml,CBIR
Keywords[nso]=Diponagalo,Nyaka,Kgokgonego,Hwetsa,Mpho,kmrml,mrml,CBIR
Keywords[pl]=Obrazy,Szukanie,Zapytanie,Szukaj,Gift,kmrml,mrml,CBIR
Keywords[pt]=Imagens,Procurar,Pesquisar,Encontrar,Prenda,kmrml,mrml,CBIR
Keywords[pt_BR]=Imagens,Busca,Consulta,Procurar,Presente,kmrml,mrml,CBIR
Keywords[ru]=изображения,поиск,запрос,kmrml,mrml,CBIR
Keywords[sk]=Obrázky,Hľadanie,Dotazy,Nájsť,kmrml,mrml,CBIR
Keywords[sl]=slike,iskanje,povpraševanje,išči,najdi,darilo,kmrml,mrml,CBIR
Keywords[sv]=Bilder,Sök,Förfrågan,Hitta,Gift,kmrml,mrml,CBIR
Keywords[tr]=Resimler,Ara,Arama,kmrml,mrml,CBIR
Keywords[uk]=зображення,пошук,запит,знайти,подарунок,kmrml,mrml,CBIR
Keywords[ven]=Zwifanyiso,Toda,Mbudziso,Wana,Mpho,kmrml,mrml,CBIR
Keywords[xh]=Imifanekiso,Uphendlo,Ubuzo,fumana,Isiphiwo,kmrml,mrml,CBIR
Keywords[zh_CN]=Images,Search,Query,Find,Gift,kmrml,mrml,CBIR,图像,搜索,查询,查找,礼物
Keywords[zh_TW]=Images,Search,Query,Find,Gift,kmrml,mrml,CBIR,影像,搜尋,查詢,尋找
Keywords[zu]=Izithombe,Funa,Buza,Thola,Isipho,kmrml,mrml,CBIR

