[Desktop Entry]
Comment=OpenOffice.org 1.1 Zeichnung
Comment[he]=OpenOffice.org 1.1 Zeichnung
Comment[0en]=OpenOffice.org 1.1 Drawing
Comment[0pt]=OpenOffice.org 1.1 Zeichnung
Comment[ar]=OpenOffice.org 1.1 رسم
Comment[ca]=OpenOffice.org 1.1 Dibuix
Comment[cs]=OpenOffice.org 1.1 Zeichnung
Comment[da]=OpenOffice.org 1.1 Tegning
Comment[de]=OpenOffice.org 1.1 Zeichnung
Comment[el]=OpenOffice.org 1.1 Σχέδιο
Comment[en]=OpenOffice.org 1.1 Drawing
Comment[es]=Dibujo OpenOffice.org 1.1
Comment[fi]=OpenOffice.org 1.1 Zeichnung
Comment[fr]=OpenOffice.org 1.1 Dessin
Comment[hi_IN]=OpenOffice.org 1.1 Zeichnung
Comment[it]=OpenOffice.org 1.1 Disegno
Comment[ja]=OpenOffice.org 1.1 図形描画
Comment[ko]=OpenOffice.org 1.1 그리기
Comment[nl]=OpenOffice.org 1.1 Tekening
Comment[pl]=OpenOffice.org 1.1 Rysunek
Comment[pt_BR]=OpenOffice.org 1.1 Zeichnung
Comment[ru]=OpenOffice.org 1.1 Рисунок
Comment[sv]=OpenOffice.org 1.1-teckning
Comment[th]=OpenOffice.org 1.1 Zeichnung
Comment[tr]=OpenOffice.org 1.1 Çizim
Comment[zh_CN]=OpenOffice.org 1.1 绘图
Comment[zh_TW]=OpenOffice.org 1.1 繪圖
Encoding=UTF-8
Exec=/usr/lib/openoffice1.1/program/sdraw
Icon=/usr/lib/openoffice1.1/share/icons/ooo_draw.png
MimeType=application/vnd.sun.xml.draw;application/vnd.stardivision.draw
MultipleArgs=false
Name=OpenOffice.org 1.1 Draw
GenericName[he]=ציור
Path=
Terminal=0
TerminalOptions=
Type=Application
Version=0.92
X-KDE-SubstituteUID=false
X-KDE-Username=
