[Desktop Entry]
Comment=OpenOffice.org 1.1 Formel
Comment[he]=OpenOffice.org 1.1 Formel
Comment[0en]=OpenOffice.org 1.1 Formula
Comment[0pt]=OpenOffice.org 1.1 Formel
Comment[ar]=OpenOffice.org 1.1 صيغة
Comment[ca]=OpenOffice.org 1.1 Formel
Comment[cs]=OpenOffice.org 1.1 Formel
Comment[da]=OpenOffice.org 1.1 Formel
Comment[de]=OpenOffice.org 1.1 Formel
Comment[el]=OpenOffice.org 1.1 Τύπος
Comment[en]=OpenOffice.org 1.1 Formula
Comment[es]=Fórmula OpenOffice.org 1.1
Comment[fi]=OpenOffice.org 1.1 Formel
Comment[fr]=OpenOffice.org 1.1 Formule
Comment[hi_IN]=OpenOffice.org 1.1 Formel
Comment[it]=OpenOffice.org 1.1 Formula
Comment[ja]=OpenOffice.org 1.1 数式
Comment[ko]=OpenOffice.org 1.1 수식
Comment[nl]=OpenOffice.org 1.1 Formule
Comment[pl]=OpenOffice.org 1.1 Formuła
Comment[pt_BR]=OpenOffice.org 1.1 Formel
Comment[ru]=OpenOffice.org 1.1 Формула
Comment[sv]=OpenOffice.org 1.1-formel
Comment[th]=OpenOffice.org 1.1 Formel
Comment[tr]=OpenOffice.org 1.1 Formül
Comment[zh_CN]=OpenOffice.org 1.1 公式
Comment[zh_TW]=OpenOffice.org 1.1 公式
Encoding=UTF-8
Exec=/usr/lib/openoffice1.1/program/smath
Icon=/usr/lib/openoffice1.1/share/icons/ooo_math.png
MimeType=application/vnd.sun.xml.writer;application/vnd.stardivision.writer;application/msword;application/vnd.ms-word;application/x-doc;text/rtf
MultipleArgs=false
Name=OpenOffice.org 1.1 Math
GenericName=מתמטיקה
Path=
Terminal=0
TerminalOptions=
Type=Application
Version=0.92
X-KDE-SubstituteUID=false
X-KDE-Username=
