[Desktop Entry]
Comment=OpenOffice.org 1.1 Textdokument
Comment[he]=OpenOffice.org 1.1 Textdokument
Comment[0en]=OpenOffice.org 1.1 Text Document
Comment[0pt]=OpenOffice.org 1.1 Textdokument
Comment[ar]=OpenOffice.org 1.1 مستند نص
Comment[ca]=OpenOffice.org 1.1 Document de text
Comment[cs]=OpenOffice.org 1.1 Textdokument
Comment[da]=OpenOffice.org 1.1 Tekstdokument
Comment[de]=OpenOffice.org 1.1 Textdokument
Comment[el]=OpenOffice.org 1.1 Έγγραφο κειμένου
Comment[en]=OpenOffice.org 1.1 Text Document
Comment[es]=Documento de texto OpenOffice.org 1.1
Comment[fi]=OpenOffice.org 1.1 Textdokument
Comment[fr]=OpenOffice.org 1.1 Texte
Comment[hi_IN]=OpenOffice.org 1.1 Textdokument
Comment[it]=OpenOffice.org 1.1 Documento di testo
Comment[ja]=OpenOffice.org 1.1 文書ドキュメント
Comment[ko]=OpenOffice.org 1.1 텍스트 문서
Comment[nl]=OpenOffice.org 1.1 Tekstdocument
Comment[pl]=OpenOffice.org 1.1 Dokument tekstowy
Comment[pt_BR]=OpenOffice.org 1.1 Textdokument
Comment[ru]=OpenOffice.org 1.1 Текстовый документ
Comment[sv]=OpenOffice.org 1.1-textdokument
Comment[th]=OpenOffice.org 1.1 Textdokument
Comment[tr]=PRODUCTNAME Metin belgesi
Comment[zh_CN]=OpenOffice.org 1.1 文本文档
Comment[zh_TW]=OpenOffice.org 1.1 文字文件
Encoding=UTF-8
Exec=/usr/lib/openoffice1.1/program/swriter
Icon=/usr/lib/openoffice1.1/share/icons/ooo_writer.png
MimeType=application/vnd.sun.xml.writer;application/vnd.stardivision.writer;application/msword;application/vnd.ms-word;application/x-doc;text/rtf
MultipleArgs=false
Name=OpenOffice.org 1.1 Writer
GenericName[he]=מעבד תמלילים
Path=
Terminal=0
TerminalOptions=
Type=Application
Version=0.92
X-KDE-SubstituteUID=false
X-KDE-Username=
