[Desktop Entry]
Comment=
Exec=/usr/bin/abiword
Hidden=false
Icon=/usr/share/AbiSuite-2.0/icons/abiword_48.png
Name=Abi Word
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
