[Desktop Entry]
Comment=
Exec=/usr/bin/kbabel
Icon=kbabel
Name=KBabel
GenericName=Translation Tool
GenericName[he]=כלי תרגום
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
