[Desktop Entry]
Comment=
Exec=/usr/bin/kkbswitch
Icon=/KNOPPIX/usr/share/icons/il.png
Name=kkbswitch
GenericName=Language change
GenericName[he]=החלפת שפה
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
