[Desktop Entry]
Comment=
Exec=/usr/bin/kplayer
Icon=kplayer
Name=KPlayer
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

