[Desktop Entry]
Encoding=UTF-8
Type=Application
DocPath=
Icon=
Exec=kcmshell knrtheme

X-KDE-ModuleType=Library
X-KDE-Library=knrtheme
X-KDE-FactoryName=knrtheme
X-KDE-ParentApp=kcontrol

Name=Kinneret's theme manager
Name[he]=מנהל ערכות הנושא של כנרת

Comment=Customize the Kinneret theme
Comment[he]=שינוי ערכת הנושא של כנרת

Keywords=Theme,Theme manager,Kinneret,Themes
Keywords[he]=ערכה,ערכת נושא,כנרת,ערכות,ערכות נושא

Categories=Qt;KDE;X-KDE-settings-looknfeel
