[Desktop Entry]
Comment=
Exec=/usr/games/enigma
Icon=matrix
Name=enigma
Name[he]=אניגמה
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
