[Desktop Entry]
Comment=
Exec=/usr/games/frozen-bubble
Icon=/KNOPPIX/usr/share/pixmaps/frozen-bubble-icon-48x48.png
Name=frozen-bubbles
Name[he]=בועות קפואות
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
