[Desktop Entry]
Comment=
Exec=/usr/games/jumpnbump -scaleup
Icon=package_games_arcade
Name=jump n' bump
Name[he]=קפוץ וחבוט
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
