[Desktop Entry]
Comment=
Exec=/usr/games/rocksndiamonds
Icon=shredder
Name=Rocks&Diamonds
Name[he]=סלעים ויהלומים
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
