[Desktop Entry]
Exec=/usr/bin/kgeo
Icon=kgeo
Name=KGeo
GenericName[he]=גאומטריה
GenericName=Geometry
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
