[Desktop Entry]
Comment=
Exec=/usr/bin/kxmleditor
Icon=kxmleditor
Name=KXMLEditor
GenericName=XML Editor
GenericName[he]=עורך XML
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
