[Desktop Entry]
Comment=OpenOffice.org 1.1 Tabelle
Comment[he]=OpenOffice.org 1.1 Tabelle
Comment[0en]=OpenOffice.org 1.1 Spreadsheet
Comment[0pt]=OpenOffice.org 1.1 Tabelle
Comment[ar]=OpenOffice.org 1.1 Tabelle
Comment[ca]=OpenOffice.org 1.1 Tabelle
Comment[cd]=OpenOffice.org 1.1 Crea
Comment[cs]=OpenOffice.org 1.1 Tabelle
Comment[da]=OpenOffice.org 1.1 Tabel
Comment[de]=OpenOffice.org 1.1 Tabelle
Comment[el]=OpenOffice.org 1.1 Πίνακας
Comment[en]=OpenOffice.org 1.1 Spreadsheet
Comment[es]=Hoja de cálculo OpenOffice.org 1.1
Comment[fi]=OpenOffice.org 1.1 Tabelle
Comment[fr]=OpenOffice.org 1.1 Classeur
Comment[hi_IN]=OpenOffice.org 1.1 Tabelle
Comment[it]=OpenOffice.org 1.1 Tabella
Comment[ja]=OpenOffice.org 1.1 表計算
Comment[ko]=OpenOffice.org 1.1 스프레드시트
Comment[nl]=OpenOffice.org 1.1 Tabel
Comment[pl]=OpenOffice.org 1.1 Arkusz
Comment[pt_BR]=OpenOffice.org 1.1 Tabelle
Comment[ru]=OpenOffice.org 1.1 Электронная таблица
Comment[sv]=OpenOffice.org 1.1-tabell
Comment[th]=OpenOffice.org 1.1 Tabelle
Comment[tr]=OpenOffice.org 1.1 Tablo
Comment[zh_CN]=OpenOffice.org 1.1 工作表
Comment[zh_TW]=OpenOffice.org 1.1 工作表
Encoding=UTF-8
Exec=/usr/bin/oofixdir.sh /usr/bin/oocalc
Icon=/usr/lib/openoffice/share/icons/ooo_calc.png
MimeType=application/vnd.sun.xml.calc;application/vnd.stardivision.calc;application/vnd.stardivision.chart;application/msexcel;application/vnd.ms-excel
MultipleArgs=false
Name=OpenOffice Calc
Path=
Terminal=0
TerminalOptions=
Type=Application
Version=0.92
X-KDE-SubstituteUID=false
X-KDE-Username=
