[Desktop Entry]
Comment=
Exec=kmix
Icon=kmix
Name=KMix
GenericName=Sound Mixer
Name[he]=בקרת עוצמת שמע
Path=
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
