[Desktop Entry]
Comment=
Exec=rxvt -bg black -fg green -cr red -ls -e /usr/sbin/soundcardconfig
Icon=multimedia
Name=Sound card
Name[he]=כרטיס קול
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Hidden=true