[Desktop Entry]
Comment=
Exec=kmenuedit
Icon=kmenuedit
Name=KMenuEdit
Name[he]=עורך התפריטים
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
