[Desktop Entry]
Encoding=UTF-8
X-KDE-ModuleType=Library
X-KDE-Library=laptop
X-KDE-FactoryName=laptop
X-KDE-Init=laptop
Exec=kcmshell laptop       
Icon=laptop_battery
MiniIcon=laptop_battery
Type=Application
DocPath=kcontrol/laptop/index.html
Comment=Laptop Battery
Comment[af]=Draagbare rekenaar Batery
Comment[bs]=Upozorenje istrošene baterije
Comment[ca]=Bateria de portàtil
Comment[cs]=Baterie notebooku
Comment[da]=Laptop-batteri
Comment[de]=Laptop-Batterie
Comment[el]=Μπαταρία φορητού
Comment[eo]=Avertilo por maplenigo de la baterio
Comment[es]=Batería del portátil
Comment[et]=Laptop'i aku
Comment[fi]=Kannettavan akku
Comment[fr]=Batterie d'ordinateur portable
Comment[he]=סוללת מחשב נייד
Comment[hu]=Hordozható gépek energiaellátása
Comment[it]=Batteria computer portatile
Comment[ja]=ラップトップバッテリー
Comment[lt]=Laptop baterija
Comment[mt]=Batterija tal-laptop
Comment[nb]=Lite batteri-advarselsprogram
Comment[nl]=Laptopbattery
Comment[nn]=Batteri til bærbar
Comment[pl]=Ostrzeżenie o słabych bateriach
Comment[pt]=Bateria do Portátil
Comment[pt_BR]=Bateria do Laptop
Comment[ru]=Аккумулятор ноутбука
Comment[sk]=Batérie laptopu
Comment[sl]=Baterija prenosnika
Comment[sv]=Batteri för bärbar dator
Comment[th]=แบตเตอรีของเครื่องแลปทอบ
Comment[tr]=Dizüstü Pili
Comment[uk]=Батареї лептопу
Comment[xh]=Ibhetri ye Laptop
Comment[zh_CN]=膝上计算机电池
Comment[zh_TW]=膝上型電腦的電池
Comment[zu]=Ibhetri Yekhomputha eyisicaba ephathwayo
Name=Laptop Battery
Name[af]=Draagbare rekenaar Batery
Name[bs]=Laptop baterija
Name[ca]=Bateria de portàtil
Name[cs]=Baterie notebooku
Name[da]=Laptop-batteri
Name[de]=Laptop-Batterie
Name[el]=Μπαταρία φορητού
Name[eo]=Portkomputila baterio
Name[es]=Batería del portátil
Name[et]=Laptop'i aku
Name[fi]=Kannettavan akku
Name[fr]=Batterie d'ordinateur portable
Name[he]=סוללת מחשב נייד
Name[hu]=Laptop-akkumulátor
Name[it]=Batteria computer portatile
Name[ja]=ラップトップバッテリー
Name[lt]=Laptop baterija
Name[mt]=Batterija tal-laptop
Name[nb]=Batteri til bærbar
Name[nl]=Laptopbatterij
Name[nn]=Batteri til bærbar
Name[pl]=Bateria laptopa
Name[pt]=Bateria do Portátil
Name[pt_BR]=Bateria do Laptop
Name[ru]=Аккумулятор ноутбука
Name[sk]=Batérie laptopu
Name[sl]=Baterija prenosnika
Name[sv]=Batteri för bärbar dator
Name[th]=แบตเตอรีแลปทอบ
Name[tr]=Dizüstü Pili
Name[uk]=Батареї лептопу
Name[xh]=Ibhetri ye Laptop
Name[zh_CN]=膝上计算机电池
Name[zh_TW]=膝上型電腦的電池
Name[zu]=Ibhetri Yekhomputha eyisicaba ephathwayo
Init=klaptopdaemon
