[Desktop Entry]
Comment=
Exec=/usr/bin/pixie
Icon=pixie
Name=Pixie
GenericName=Picture cataloging
GenericName[he]=קיטלוג תמונות
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
