[Desktop Entry]
Comment=
Exec=/usr/bin/qcad
Icon=/usr/share/qcad/pixmaps/qcad.xpm
Name=Qcad 
GenericName[he]=שרטוט
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
