[Desktop Entry]
Type=Application
Exec=sudo kxconfig
Icon=xapp

X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true   

Name=Display
Name[af]=Vertoon
Name[cs]=Obrazovka
Name[de]=Bildschirm & Anzeigegeräte
Name[el]=Οθόνη
Name[es]=Pantalla
Name[fi]=Näyttö
Name[fr]=Affichage
Name[he]=תצוגה
Name[hu]=Képernyő
Name[ja]=ディスプレイ
Name[lt]=Displėjus
Name[nb]=Skjerm
Name[nn]=Skjerm
Name[pl]=Karta grafiki i monitor
Name[pt]=Ecrã
Name[pt_BR]=Ecrã
Name[sk]=Displej
Name[sl]=Zaslon
Name[sv]=Bildskärm
Name[tr]=Görünüm
Name[uk]=Дисплей
Name[ven]=Tana
Name[xh]=Bonisa
Name[zh_CN]=显示器

Comment=Configure your display
Comment[af]=Konfigureer jou vertoon
Comment[bs]=Podesite vaš display
Comment[ca]=Configura la vostre pantalla
Comment[cs]=Nastavte si svou obrazovku
Comment[da]=Indstil din skærm
Comment[de]=Bildschirm und Anzeigegeräte einrichten
Comment[el]=Ρυθμίστε την οθόνη σας
Comment[eo]=Agordu vian ekranon
Comment[es]=Configure su pantalla
Comment[fi]=Aseta näyttöäsi
Comment[fo]=Set skíggja upp
Comment[fr]=Configuration de votre affichage
Comment[he]=שינוי הגדרות התצוגה שלך
Comment[hr]=Podešavanje prikaza
Comment[hu]=képernyőbeállítások
Comment[it]=Configura il tuo display
Comment[ja]=ディスプレイの設定
Comment[ko]=화면 설정
Comment[lt]=Konfigūruoti savo displėjų
Comment[lv]=Konfigurē displeju
Comment[mt]=Ikkonfigura l-iskrin tiegħek
Comment[nb]=Endre skjermoppsettet ditt
Comment[nl]=Stel de grafische modus van uw computer in
Comment[nn]=Endra skjermoppsettet
Comment[pl]=Konfiguracja karty grafiki
Comment[pt]=Configure o seu ecrã
Comment[pt_BR]=Configurar a sua exibição
Comment[ru]=Настройка монитора
Comment[sk]=Nastavte svoj displej
Comment[sl]=Nastavite vaš zaslon
Comment[sv]=Anpassa bildskärmen
Comment[th]=ปรับแต่งการแสดงผลของคุณ
Comment[tr]=Ekran kartınızı yapılandırın
Comment[uk]=Налаштувати дисплей
Comment[ven]=Dzudzanyani tshisumbedzi tshanu
Comment[wa]=Apontyî li waitroûle
Comment[xh]=Qwalasela imboniso yakho
Comment[zh_CN]=配置您的显示器

Keywords=X11,XFree,Display,Resolution,Graphic,Card,Monitor,Screen
Keywords[ca]=X11,XFree,vista,resolució,gràfics,targeta,monitor,pantalla
Keywords[cs]=X11,XFree,zobrazovač,monitor,grafika,obrazovka,karta,rozlišení
Keywords[da]=X11,XFree,Skærm,Opløsning,Grafik,Kort,Monitor,Skærm
Keywords[de]=X11,XFree,Anzeige,Auflösung,Graphik,Karte,Monitor,Bildschirm
Keywords[el]=X11,XFree,Οθόνη,Ανάλυση,Γραφικό,Κάρτα,Οθόνη,Οθόνη
Keywords[eo]=X11,XFree,ekrano,video,vidigilo,tabulo,grafiko,xfree86
Keywords[es]=X11,XFree,pantalla,resolución,monitor,gráfico,tarjeta,monitor
Keywords[fi]=X11,XFree,Näyttö,Resoluutio,Grafiikka,Kortti,Monitori
Keywords[fo]=X11,XFree,skíggi,loysni,teknindi,kort,møna
Keywords[fr]=X11, XFree, affichage, résolution, graphisme, carte, moniteur, écran
Keywords[he]=X11,XFree,תצוגה,רזולוציה,גרפיקה,כרטיס,צג,מסך
Keywords[hu]=X11,XFree,megjelenítés,felbontás,grafikus,kártya,monitor,képernyő
Keywords[it]=X11,XFree,Display,Resoluzione,Grafica,Scheda,Monitor,Schermo
Keywords[ja]=X11,XFree,ディスプレイ,解像度,グラフィック,カード,モニター,スクリーン
Keywords[ko]=X11,XFree,Display,Resolution,Graphic,Card,Monitor,Screen,엑스,엑스 윈도,표시,화면,해상도,그림,그래픽,카드,모니터,화면
Keywords[lt]=X11,XFree,displėjus,raiška,grafika,plokštė,monitorius,ekranas
Keywords[lv]=X11,XFree,Displejs,Izšķirtspēja,Grafika,Karte,Monitors,Ekrāns
Keywords[mt]=video,display,monitor,graphic,xfree86,screen,skrin,X11,XFree
Keywords[nb]=X11,XFree,skjerm,oppløsning,grafikk,kort,monitor,skjerm
Keywords[nl]=X11,XFree,display,resolutie,graphic,card,monitor,screen,videokaart,beeldscherm,XF86Config
Keywords[nn]=X11,XFree,skjerm,oppløysing,grafikk,kort,monitor
Keywords[pl]=X11,XFree,wyświetlanie,monitor,grafika,xfree86,ekran
Keywords[pt]=X11,XFree,ecrã,resolução,gráfica,placa,monitor
Keywords[pt_BR]=X11,XFree,Display,Resolução,Gráfico,Placa,Monitor,Tela
Keywords[ru]=video,display,монитор,graphic,xfree86,экран
Keywords[sk]=video,display,monitor,graphic,XFree,screen,displej,grafický,obrazovka,X,X11,rozlíšenie
Keywords[sl]=X11,XFree,zaslon,monitor,ločljivost,grafika,kartica,prikaz
Keywords[sv]=X11,XFree,skärm,upplösning,grafik,kort,bildskärm
Keywords[th]=วิดีโอ,แสดงผล,จอภาพ,กราฟิก,ความละเอียด,X11,การ์ดแสดงผล,xfree86,หน้าจอ
Keywords[tr]=X11, çözünürlük,video,görüntü,monitör,ekran,grafik,xfree86
Keywords[uk]=X11,XFree,дисплей,роздільна здатність,плата,графіка,монітор,екран
Keywords[ven]=vidio,tana,musedzi,girafiki,xfree86,tshikirini
Keywords[wa]=X11,XFree,Håynaedje,Finté,Grafike,Videyo,Cåte,Waitroûle
Keywords[xh]=X11,XFree,Uboniso,Isisombululo,Imizobo,Ikhadi, Ikhusi
Keywords[zh_CN]=X11,XFree,Display,Resolution,Graphic,Card,Monitor,Screen,显示器,分辨率,图像,显示卡,监视器,屏幕
keywords[zh_TW.Big5]=X11,XFree,顯示器,解析度,圖形,介面卡,監視器,螢幕
