[Desktop Entry]
Comment=
Exec=/usr/bin/kate
Hidden=false
Icon=kate
Name=kate
GenericName[he]=עורך תסריטים
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
